[submodule "frontend"]
	path = frontend
	url = https://github.com/Amaze09/todo-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Amaze09/todo-backend.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/Amaze09/todo-contract.git
[submodule "ai"]
	path = ai
	url = https://github.com/Amaze09/todo-ai.git
